<md-toolbar layout = "row">
  <table class = "lim-top" border = "0">
    <tr>
      <td id = "lim-top-left">
        <md-button class = "lim-top-btn" ng-click="toggleLeft()" aria-label="ShowHideAccountant">
          <md-icon md-svg-src="/img/frame/menu.svg"></md-icon>
        </md-button>
      </td>
      <td id = "lim-top-center">logo2</td>
      <td id = "lim-top-right">
        <md-button class = "lim-top-btn" ng-click="logout()" aria-label="ShowHideAccountant">
          <md-icon md-svg-src="/img/frame/logout.svg"></md-icon>
        </md-button>
      </td>
    </tr>
    </table >
</md-toolbar>
